<div>Hello from APP component</div>
<div>
  <ul>
    <li *ngFor="let family of data">{{family}}</li>
  </ul>
</div>

<div>
  <table>
    <tr *ngFor="let sampleData of dataObject; let i= index" [ngStyle]="{backgroundColor: sampleData.status === 'present' ? 'green': 'red'}">
      <td>{{i}}</td>
      <td>{{sampleData.id}}</td>
      <td>{{sampleData.name}}</td>
      <td>{{sampleData.age}}</td>
      <td>{{sampleData.status}}</td>
    </tr>
  </table>
</div>


  <div>
    <input type="text" [(ngModel)]="searchValue" name="searchValue" [ngClass]="{changeBackground : searchValue!=''}">
    <span *ngIf="searchValue != ''">You searched: {{searchValue}}</span>
  </div>

<app-child [total]="getTotal()" #child></app-child>

<p>you selected: {{child.selectedValue?.name}}</p>
